h1 {
    text-align: center;
    font-size: 60;
}

.column {
    float: left;
    width: 33%;
}

.center {
    text-align: center;
}

ul {
    list-style-position: inside;
}

.centered-div {
    width: 25%;
    margin: 0 auto;
    border: 2px;
}